.popup__content {
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .popup__content {
    max-width: 282px;
    min-height: 322px;
  }
}